<nav class="navbar navbar-expand-lg" id="navbar_color">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <i class="fas fa-glass-martini-alt"></i>
    <%= link_to " ENJOY COCKTAIL", root_path, class: "navbar-brand fas fa-glass-martini-alt" %>
  </div>
</nav>

<div class="container">
  <h1>Add doses for <%= @cocktail.name %></h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient, collection: Ingredient.all.order(:name), input_html: { class: "select2" } %>
    <%= f.input :description %>
    <%= f.submit "Add", class: "btn btn-primary" %>
    <%= link_to "Cancel", cocktail_path(@cocktail), class: "btn btn-danger" %>
  <% end %>
</div>

<footer class="page-footer text-center">
  <%= image_tag "gif_cocktail3.gif", size: "150x150"%>
</footer>
